[submodule "external/xaml-math"]
	path = external/xaml-math
	url = https://github.com/smile-forge/xaml-math.git
	branch = nexaflow
[submodule "external/DiscUtils"]
	path = external/DiscUtils
	url = https://github.com/smile-forge/DiscUtils.git
	branch = nexaflow
	ignore = untracked
[submodule "external/tree-sitter-xml"]
	path = external/tree-sitter-xml
	url = https://github.com/smile-forge/tree-sitter-xml.git
	branch = nexaflow
[submodule "external/tree-sitter-dotnet-bindings"]
	path = external/tree-sitter-dotnet-bindings
	url = https://github.com/smile-forge/tree-sitter-dotnet-bindings.git
	branch = nexaflow
[submodule "external/AngouriMath"]
	path = external/AngouriMath
	url = https://github.com/smile-forge/AngouriMath.git
	branch = nexaflow
