[submodule "external/xaml-math"]
	path = external/xaml-math
	url = https://github.com/smile-forge/xaml-math.git
	branch = nexaflow
[submodule "external/DiscUtils"]
	path = external/DiscUtils
	url = https://github.com/smile-forge/DiscUtils.git
	branch = nexaflow
