<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- LibVLCSharp 4 / LibVLC 4 are preview-only, served from the VideoLAN feedz feed. -->
    <add key="videolan-preview" value="https://f.feedz.io/videolan/preview/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="videolan-preview">
      <package pattern="LibVLCSharp*" />
      <package pattern="VideoLAN.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
