<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="NexaflowMenuFolder" Name="Nexaflow" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents" Directory="NexaflowMenuFolder">
      <Component>
        <Shortcut Id="NexaflowStartMenuShortcut"
                  Name="Nexaflow"
                  Description="Nexaflow"
                  Target="[INSTALLFOLDER]Nexacore.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveNexaflowMenuFolder" Directory="NexaflowMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Smile-forge\Nexaflow" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
