<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="smileforge.nexaflowSetup" Name="nexaflowSetup" Manufacturer="Smile-forge"
           Version="$(var.AppVersion)" UpgradeCode="{7C608FBB-CD12-4A72-99D4-019D1928106B}">
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Package>
</Wix>
