<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="smileforge.nexaflowSetup" Name="nexaflowSetup" Manufacturer="Smile-forge" Version="0.4.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Package>
</Wix>
